<div class="row" *ngIf="data.length !== 0">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " *ngFor="let data of data; let i = index">
			<div class = "bg-light" [ngClass] = "data.name? 'border border-info':''">
				<input type="text" id="{{i}}" class="form-control"
          placeholder="Enter City Name"
          aria-label="cityName"
          aria-describedby="basic-addon1"
          (change)="edit($event)"  autocomplete="disabled" >
          <span class = "text-danger" *ngIf="data.error !== ''"> {{data.error}}</span>
				<div *ngIf="data.name">
					<h3>Name: {{data.name}}</h3>
					<div *ngFor="let img of data.weather">
						<img [src]="weatherIconURL + img.icon +'.png'">
						<span>Description: {{img.description}}</span>
						</div>
						<div>Temperature: {{data?.main.temp}}°</div>
						<div>Minimum Temperature: {{data.main.temp_min}}°</div>
            <div>Maximum Temperature: {{data.main.temp_max}}°</div>
						<div>Coordinate : {{data?.coord.lat}} {{data?.coord.lon}}°</div>
					</div>
				</div>
			</div>
		</div>

<div class = "info bg-light" *ngIf="conectinaStatusFlag">
  <div *ngIf="connectionStatus == 'online'" class="text-success">
  <span>{{connectionStatusMessage}}</span>
</div>

<div *ngIf="connectionStatus == 'offline'" class="text-danger">
  <span>{{connectionStatusMessage}}</span>
</div>
</div>
